<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %t%-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="LogToFile" fileName="logs/dungeon-keeper.log">
            <PatternLayout>
                <Pattern>%d %t %p %c{1.} - %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="am.adrian.dungeonkeeper" level="debug" additivity="false">
            <AppenderRef ref="LogToFile"/>
            <AppenderRef ref="LogToConsole"/>
        </Logger>
    </Loggers>
</Configuration>
